In [8]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
import json

In [4]:
data = pd.read_csv("popularity_model_data.csv")

In [20]:
data["new_id"] = np.nan

In [6]:
data.head(2)

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL,weighted_rating,avg_rating,num_ratings
0,0439139597,Harry Potter and the Goblet of Fire,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,9.018884,9.262774,137.0
1,0345339738,The Return of the King,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339738.0...,http://images.amazon.com/images/P/0345339738.0...,http://images.amazon.com/images/P/0345339738.0...,8.980597,9.402597,77.0

In [36]:
main_url = "https://openlibrary.org/search.json?q="

for i in range(289,len(data)):
    try:
        name = data["bookTitle"].iloc[i].lower().split()
        need = "+".join(name)
        url = main_url+need
        response = urlopen(url)
        data_json = json.loads(response.read())
        id = data_json["docs"][0]["key"].split("/")[2]
        data["new_id"][i] = id 
    except:
        pass

In [46]:
data.to_csv("new.csv",index=False)

In [33]:
data.iloc[289]

ISBN                                                        002542730X
bookTitle            Politically Correct Bedtime Stories: Modern Ta...
bookAuthor                                           James Finn Garner
yearOfPublication                                                 1994
publisher                                    John Wiley &amp; Sons Inc
imageUrlS            http://images.amazon.com/images/P/002542730X.0...
imageUrlM            http://images.amazon.com/images/P/002542730X.0...
imageUrlL            http://images.amazon.com/images/P/002542730X.0...
weighted_rating                                               7.762775
avg_rating                                                    7.805195
num_ratings                                                       77.0
new_id                                                             NaN
Name: 289, dtype: object

In [25]:
for i in range(len(data)):
    if data["new_id"].iloc[i]==np.nan:
        print(i)
        break

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher, imageUrlS, imageUrlM, imageUrlL, weighted_rating, avg_rating, num_ratings, new_id]
Index: []

In [44]:
data["new_id"].iloc[289] = "OL2272532W"
data["new_id"].iloc[308] = "OL17736541W"
data["new_id"].iloc[400] = "OL15392262W"
data["new_id"].iloc[532] = "OL116679W"

C:\Users\athar\AppData\Local\Temp\ipykernel_7884\3963511912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["new_id"].iloc[289] = "OL2272532W"
C:\Users\athar\AppData\Local\Temp\ipykernel_7884\3963511912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["new_id"].iloc[308] = "OL17736541W"
C:\Users\athar\AppData\Local\Temp\ipykernel_7884\3963511912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["new_id"].iloc[400] = "OL15392262W"
C:\Users\athar\AppData\Local\Temp\ipykernel_7884\3963511912.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["new_id"].iloc[532] = "OL116679W"

In [47]:
data.to_json("new.json",orient="records")